* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 15px;
  padding-top: 60px;
}

html {
  scroll-behavior: smooth;
}
.education_text > p {
  color: rgb(85, 85, 85);
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 1rem;
}

h2,
h3 {
  color: rgb(85, 85, 85);
  font-weight: 600;
}
/* navbar */

.menu {
  display: flex;
}
#menu {
  display: none;
}
.nav label {
  color: transparent;
}
.menu li {
  list-style: none;
  margin-left: 15px;
}
.logo {
  color: #2d2e32;
}
.nav-a {
  color: rgb(85, 85, 85);
  text-decoration: none;
  font-size: 1.25rem;
}
.brand {
  padding-left: 2rem;
}
.nav-a:hover,
.brand:hover {
  color: palevioletred;
}
.container-fluid {
  margin-right: 30px;
}
/* HEADER */
#profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 90vh;
}
.profile-img {
  animation: morph 8s ease-in-out infinite;
  background-image: url("./img/photos/Profile-me.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 3px solid #2d2e32;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 20rem;
  transition: all 1s ease-in-out;
  width: 25rem;
}
.profile-text {
  text-align: center;
}
.title {
  font-size: 3rem;
  font-weight: 600;
}
.section_text_p2 {
  font-size: 1rem;
  margin: 1rem;
}
/* About Me Section */
.section_container {
  text-align: center;
  padding-top: 15vh;
  height: calc(100vh - 60px);
}
.img-text-container {
  display: flex;
  align-items: center;
  padding: 5% 10%;
}
.image-me {
  height: 80%;
}
.text-container {
  padding: 0 10%;
  text-align: justify;
}
.text-container p {
  margin-bottom: 5px;
}
/* img about me */
.column#sepia img {
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  width: 100%;
}
.column#sepia:hover img {
  -webkit-filter: sepia(0);
  filter: sepia(0);
}
.hobbies-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* EXPERIENCE */
#experience {
  padding: 25vh 5vw;
  width: auto;
}
.experience_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.box {
  border: 1px solid #2d2e32;
  border-radius: 2.25rem;
  min-width: 45vw;
  height: 25vh;
}

.education_text:hover {
  font-size: 1.25rem;
}

.icons {
  font-size: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 90%;
  margin: 3rem;
  /* height: 50%; */
  align-content: center;
  align-items: center;
}
.icons i {
  /* margin: 1rem; */
  width: 65px;
  height: 65px;
  margin: 5px;
}
.education_text {
  margin: 3rem;
}
/* PROJECTS */
.cards {
  display: flex;
  gap: 7px;
  max-width: 97vw;
  justify-content: space-around;
}
.project_card {
  height: 100%;
  padding-top: 1rem;
  border: 1px solid #2d2e32;
  border-radius: 2.25rem;
}
.show-project {
  margin: 10%;
}
.button {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.63);
  border: 1px solid #000;
  margin: 1rem 0;
  border-radius: 1.25rem;
  padding: 1rem;
  font-size: 0.75rem;
}
.button:hover {
  background-color: rgb(202, 171, 176);
  color: whitesmoke;
}
.quote-img {
  border-radius: 20px;
  height: 35vh;
}
/* CONTACT */
.contact {
  font-size: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 400px;
  margin: 0 2rem;
  height: 50%;
  /* padding-top: 1.5rem; */
}
.contact i,
.contact-icon {
  width: 65px;
  height: 65px;
  margin-top: 25px;
}

.btn-email {
  border: none;
  background-color: transparent;
}
#imagen {
  width: 55px;
}
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 36px;
  margin-bottom: 100px;
  height: 40vh;
}
#form {
  display: none;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
/*.form-control {
  border: rgb(202, 171, 176) 2px solid;
} */
.mb-3 {
  width: 50%;
}
.footer_text {
  opacity: 80%;
  text-align: center;
}

/* keyframes */
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

/* MEDIA QUERY */
@media screen and (max-width: 770px) and (min-width: 320px) {
  .menu {
    display: none;
    margin-top: 0;
    padding: 0;
    width: 200px;
    flex-wrap: wrap;
    align-items: center;
    z-index: 1;
    padding-top: 60px;
  }

  input:checked ~ .menu {
    display: block;
  }

  input {
    display: none;
  }

  .nav label {
    box-sizing: border-box;
    display: inline-block;
    border-radius: 5px;
    width: 48px;
    height: 48px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    color: #000;
  }
  /*     
    /* Estilo del boton cuando se pasa el mouse por encima*/
  label:hover {
    background: rgb(229, 214, 214);
  }

  /* Estilo del boton cuando el menú está expandido*/
  input:checked ~ label {
    background: rgb(242, 234, 234);
  }
  li {
    display: block;
    background: rgb(240, 236, 236);
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid rgb(244, 176, 176);
  }
  /*Estilo cuando el mouse pasa encima de cada link del menu*/
  li:hover {
    filter: brightness(110%);
  }
  /* Header */
  #profile {
    flex-direction: column;
    height: 70vh;
  }
  .profile-img {
    height: 30vh;
    width: 90vw;
  }
  .column#sepia img {
    display: none;
  }

  .experience_content {
    flex-direction: column;
  }

  /* CARDS EN FORMA DE CARRUSEL */
  .cards {
    flex-direction: column;
    align-items: center;
  }
  .text-container {
    padding: 0;
  }
  .education,
  .box {
    width: 90vw;
    height: 100%;
  }
  .education_text {
    padding-bottom: 1rem;
  }
  .skills {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .icons {
    height: 90%;
  }

  .section_container {
    height: auto;
  }

  #contact {
    gap: 20px;
  }
  #imagen {
    width: 100%;
    transition: transform 0.5s;
  }

  #imagen:hover {
    transform: scale(1.1);
  }
}
